<div class = "container">
	<div class = "col-lg-1">
	</div>

	<div class = "col-lg-3">

		<h2>User info</h2>
		
			<% if @user.errors.any? %>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li class = "error_message">error:<%= message %></li>
				<% end %>
			  </ul>
			<% end %>
		

				<%= form_for(@user) do |f| %>
					<p>name</p>
					<%= f.text_field :name, autofocus: true %>


					<p>image(プロフィール画像)</p>
					 <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

					<p>introduction</p>
					<%= f.text_area :introduction, autofocus: true  %>
					<%= f.submit "Update User" %>
				<% end %>
			

	</div>

<div class = "col-lg-8">
</div>
</div>

