<div class = "container">
	<% if notice %>
		<p><%= notice %></p>
	<% end %>
	<% if alert %>
	   <p><%= alert %></p>
	<% end %>

	<div class = "row">
		<div class = "col-xs-3">
			<%= render 'layouts/sidbar', user:@user,book:@book %>
		</div>

	<div class = "col-xs-9">
	<h3>users</h3>
		<table class = "table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td>
							<%= attachment_image_tag user, :profile_image, size: "50x50", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
						</td>

						<td><%= user.name %></tb></td>
						<td><%=link_to "Show", user_path(user.id) %></td>
					</tr>
					<% end %>
				
				</tbody>
			</table>

	</div>
</div>
</div>
