<div class = "container">
	<% if notice %>
		<p><%= notice %></p>
	<% end %>
	<% if alert %>
	   <p><%= alert %></p>
	<% end %>

	<%= render 'layouts/erorr-messages-books', book:@book %>

	<div class = "row">
		<div class = "col-xs-3">
			<%= render 'layouts/sidbar', user:@user,book:@book %>
		</div>

	<div class = "col-xs-9">
		<%= render 'layouts/books-index', books:@books,users:@users,user:@user %>
	
	</div>
</div>
</div>