<div class = "container">
	<% if notice %>
		<p><%= notice %></p>
	<% end %>
	<% if alert %>
	   <p><%= alert %></p>
	<% end %>

	<ul>
		<% if @book.errors.any? %>
		<ul>
			<% @book.errors.full_messages.each do |message| %>
				<li class = "error_message">error:<%= message %></li>
			<% end %>
	    </ul>
		<% end %>
	</ul>

	<div class = "row">
	<div class = "col-lg-3">
		<h3>User info</h3>
			<%= attachment_image_tag @user, :profile_image, size: "100x100", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
			<table class = "table">
				<tr>
					<th>name</th>
					<th><%= @user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= @user.introduction %></th>
				</tr>
			</table>

			<% if @user.id == current_user.id %>
			        <p><%= link_to "", edit_user_path(@user), class:"btn btn-default btn-lg btn-block"%>
			        </p>
			<% end %>

		<h2 class = "n">New book</h2>
			<%= form_for(@book) do |f| %>

				<h4>title</h4>
				<%= f.text_field :title %>

				<h4>body</h4>
				<%= f.text_area :body %>

				<br>
				<%= f.submit 'Create Book', class:"btn btn-primary btn-block"  %>
			<% end %>
	</div>

	<div class = "col-lg-9">
	<h3>Books</h3>
	<table class = "table">
				<thead>
					<tr>
						<th>profileimage</th>
						<th>title</th>
						<th>opinion</th>
					</tr>
				</thead>

				<tbody>
					<% @books.each do |book| %>
					<% @users = User.find(book.user_id) %>
					<tr>
						<td>
							<%= attachment_image_tag @users, :profile_image, size: "50x50", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
						</td>

						<td><%= link_to book.title, book_path(book.id) %></td>
						<td><%= book.body %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
	</div>
</div>
</div>