<div class = "container">
	<% if notice %>
		<p><%= notice %></p>
	<% end %>
	<% if alert %>
	   <p><%= alert %></p>
	<% end %>

	<%= render 'layouts/erorr-messages-books', book:@book %>

	<div class = "row">
		<div class = "col-xs-3">
			<%= render 'layouts/sidbar', user:@user,book:@book %>
		</div>

	<div class = "col-xs-9">
	<h3>Books</h3>
	<table class = "table">
				<thead>
					<tr>
						<th>profileimage</th>
						<th>title</th>
						<th>opinion</th>
					</tr>
				</thead>

				<tbody>
					<% @books.each do |book| %>
					<% @users = User.find(book.user_id) %>
					<tr>
						<td>
							<%= attachment_image_tag @users, :profile_image, size: "50x50", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
						</td>

						<td><%= link_to book.title, book_path(book.id) %></td>
						<td><%= book.body %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
	</div>
</div>
</div>