
<p><%= notice %></p>


<h2>Books</h2>

<h3>booksのプロフィール画面確認</h3>

<%= attachment_image_tag @user, :profile_image, size: "300x300", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
<p>name</p>
<%= @user.name %>


<p>introduction</p>
<%= @user.introduction %>

<% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
<% end %>

<!-- エラーメッセージの表示 -->
<ul >
	<% if @book.errors.any? %>
			<% @book.errors.full_messages.each do |message| %>
			<li class = "error_message">error:<%= message %></li>
			<% end %>
	<% end %>
<!-- 投稿したbook一覧 -->
</ul>
<% @books.each do |book| %>
    <% @users = User.find(book.user_id) %>
	<%= attachment_image_tag @users, :profile_image, size: "50x50", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
	<tr>
		<th class = "">
			<%= link_to book_path(book.id) do%>
			<%= book.title%>
			<% end %>
			</th>

		<th class = ""><%= book.body %></th>
		<th class = ""><%=link_to "show", book_path(book.id) %></th>
	</tr>
		
	<% end %>