<div class = "container">

<p><%= notice %></p>


<div class = "row">
	<div class = "col-lg-3">
		<h3>Userinfo</h3>
			<div class = "profile-image">
				<%= attachment_image_tag @user, :profile_image, size: "100x100", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
			</div>

			<table class = "table">
				<tr>
					<th>name</th>
					<th><%= @user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= @user.introduction %></th>
				</tr>
			</table>


			<h2 class = "">New book</h2>

			<%= form_for(@book_new) do |f| %>

				<h4>title</h4>
				<%= f.text_field :title %>

				<h4>body</h4>
				<%= f.text_area :body %>

				<br>
				<%= f.submit 'Create Book', class:"btn btn-primary btn-block" %>
			<% end %>
			<% if @user.id == current_user.id %>
        	<p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
			<% end %>
	</div>


<h2>Book detal</h2>
<div class = "col-lg-9">
		<table class = "table">
			<tbody>
				<tr>
					<td>
					<%= attachment_image_tag @user, :profile_image, size: "50x50", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
						<br>
						<br>
						<br>
						<%= @user.name %>

					</td>
					<td><%= @book.title %></td>
					<td><%= @book.body%></td>

					<% if  @user.id == current_user.id %>
					<td><%=link_to "edit", edit_book_path(@book.id) %></td>
					<td><%= link_to "delete", book_path(@book.id), method: :delete, data: {confirm: "Are you sure?" } %></td>
					<% end %>
				</tr>
				</tbody>
		</table>

</div>
</div>
</div>

