<h2>booksの詳細画面</h2>

<p><%= notice %></p>

<h3>ユーザー情報が入る</h3>
<%= attachment_image_tag @user, :profile_image, size: "300x300", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
<p>name</p>
<%= @user.name %>


<p>introduction</p>
<%= @user.introduction %>

<% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
<% end %>

<br>
<p class = "">title:<%= @book.title %></p>
<br>
<p class = "">body:<%= @book.body%></p>

<% if  @user.id == current_user.id %>
<P class = "">
	<%=link_to "edit", edit_book_path(@book.id) %> | 
    <%= link_to "delete", book_path(@book.id), method: :delete, data: {confirm: "Are you sure?" } %></p>
<% end %>

