<!DOCTYPE html>
<html>
  <head>
    <title>Task2Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
    <% if user_signed_in? %>
        
       <li class="">

          <!-- link_toのshowへのpathはshowと書かない
          editの場合は、edit_user_pathになる -->
          <%= link_to 'home', homes_path %>
        </li>
        <li class="">
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
          <%= link_to 'users', users_path %>
        </li>
        <li class = "">
          <%= link_to 'books', books_path %>
        </li>

        <li class="">
           <%= link_to "logout", destroy_user_session_path, method: :delete %>
        </li>

    <% else %>
        <li class="">
            <%= link_to 'home', homes_path %>
        </li>

        <li class="">
            <%= link_to "sing up", new_user_registration_path %>
        </li>
        <li class="">
            <%= link_to "log in",  new_user_session_path %>
        </li>
      <% end %>
      </ul>

    <h1>applecation.htmlの確認</h1>
    <%= yield %>
  </body>
</html>
